@page "/Account/ForgotPasswordConfirmation"
@layout AuthLayout

<PageTitle>Forgot Password Confirmation | BizBot</PageTitle>

<h2>Forgot Password Confirmation</h2>
<p role="alert">
    Please check your email to reset your password.
</p>
