@page "/Account/ResetPasswordConfirmation"
@layout AuthLayout

<PageTitle>Reset Password Confirmation | BizBot</PageTitle>

<h2>Reset Password Confirmation</h2>
<p role="alert">
    Your password has been reset. Please <a href="Account/Login">click here to log in</a>.
</p>
